# Rider specific files
.idea/

# User-specific files
*.suo
*.user
*.sln.iml

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
.vscode/

# Rider cache and solution folders
.idea/
*.sln.iml
*.ide
*.ids
*.ide-wl
*.aps
*.userprefs
*.csproj.dotsettings.user

# Resharper plugin cache and content
_ReSharper*/
*.resharper
*.DotSettings

# NuGet
*.nuget.props
*.nuget.targets

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Windows Office Temp Files
~$*.doc*
